mission2-node-red.json
[{"id":"eae63574.dcb638","type":"tab","label":"Turner Motor","disabled":false,"info":""},{"id":"493e956c.f80c7c","type":"http in","z":"eae63574.dcb638","name":"","url":"/chatbot","method":"get","upload":true,"swaggerDoc":"","x":310,"y":80,"wires":[["f5ac7b44.bee9"]]},{"id":"b797152.3787ee8","type":"http response","z":"eae63574.dcb638","name":"","statusCode":"","headers":{},"x":1090,"y":80,"wires":[]},{"id":"c1d90907.7bbf28","type":"template","z":"eae63574.dcb638","name":"navbar","field":"template.navbar","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"m-3\">\n<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" x=\"0\" y=\"0\" width=\"357.1\" height=\"75.5\" viewBox=\"0 0 357.1 75.5\" enable-background=\"new 0 0 357.116 75.473\" xml:space=\"preserve\"><path fill=\"#0076BE\" d=\"M121.8 20.9h-7.2v44.8h-6.1c-4.2 0-7.9-1.9-7.9-7.3v-37.4H86V16c0-3.1 2.7-6.8 7.9-6.8h35.8v4.9C129.7 17.3 126.1 20.9 121.8 20.9zM148.7 66.9c-13.2 0-20.3-6.4-20.3-19.5V25h5.5c6.1 0 8.8 2.1 8.8 8.3v14.5c0 6 2.8 7.8 6.7 7.8 3.3 0 6-1.9 6-8.4V25h5.5c5.6 0 8.7 2.4 8.7 8.3v14.5C169.5 60.8 161.2 66.9 148.7 66.9zM200.7 35.5c-1.8-0.7-3.1-0.8-5-0.8 -3.4 0-6.1 1.7-6.1 6.7v24.3h-3.8c-6.1 0-9.8-2.8-9.8-9.6V38.4c0-8.2 5.5-14.7 14.8-14.7 7 0 10.3 2.9 10.3 6.7v5.2H200.7zM238.6 65.7c-6.2 0-8.1-2.1-8.1-8.3V43.1c0-5.5-1.8-7.9-6.6-7.9 -4.1 0-6.3 2.7-6.3 7.7v22.8h-4.7c-6 0-9.3-2.4-9.3-8.3V43.1c0-11.7 7.8-19.3 20.7-19.3 14.4 0 20.3 7.6 20.3 19.7v22.2H238.6zM269.8 50.4h-6.1c0.8 4.1 4.1 6 10 6 6.5 0 10.6-1 12.9-2.6h0.5v3.3c0 5.2-4.2 9.8-15.8 9.8 -14 0-21.4-9.5-21.4-20.7 0-12.4 8.4-22.4 20.9-22.4 10.7 0 18.9 6 18.9 16.3C289.7 48.2 283.5 50.4 269.8 50.4zM270.7 34.2c-5 0-7 3.2-7.4 7.1h5.5c6.7 0 7.8-1 7.8-2.8C276.6 36.5 274.8 34.2 270.7 34.2zM321.2 35.5c-1.8-0.7-3.1-0.8-5-0.8 -3.4 0-6.1 1.7-6.1 6.7v24.3h-3.8c-6.1 0-9.8-2.8-9.8-9.6V38.4c0-8.2 5.5-14.7 14.8-14.7 7 0 10.3 2.9 10.3 6.7v5.2H321.2zM339.1 66.9c-11.1 0-15.1-4.1-15.1-10v-4.1h0.4c2.7 2 6.7 3.6 12.5 3.6 5.1 0 6.7-1.2 6.7-3.2 0-1.8-1-2.6-9.4-3.8 -7.3-1-11.2-4.4-11.2-10.9 0-9.8 9.2-14.7 18.6-14.7 9 0 14.5 3.6 14.5 9.7v4.2h-0.4c-2.7-2-7-3.4-12.5-3.4 -5.3 0-7 1.4-7 3.1 0 1.6 0.9 2.1 9.4 3.5 6.8 1.1 11.4 4.8 11.4 11.7C357.1 61.3 350.3 66.9 339.1 66.9z\"></path><circle fill=\"#B71234\" cx=\"37.7\" cy=\"37.7\" r=\"37.7\"></circle><path fill=\"#FFFFFF\" d=\"M43.5 31.6c3.7-14.9 5-19.5-1-20.9 -8-1.9-11.1 12.4-12.5 22.1 -1.3 0-2.5 0-4.1-0.1 -6.1-0.3-10.2-1.3-13.2 2.7 -2.8 3.8 4 6.5 16.4 4.9 -1.5 17.1 4.4 22.8 8.8 23.3 8.5 0.9 21.2-16.9 21.2-16.9S48.5 57.2 43.9 57.2c-4.8 0-4.4-7.6-2.6-17.7 0.2-0.6 0.4-1.3 0.6-1.9 12.9-3.1 13.3-3.4 16-3.2 2.2 0.2 3-0.1 3.2-0.9C61.4 31.4 56.7 30.4 43.5 31.6z\"></path><title>Turners Cars Logo</title></svg>\n</div>\n<nav class=\"navbar navbar-expand-lg navbar-dark bg-primary\">\n  <a class=\"navbar-brand\" href=\"#\">\n      \n      Turners</a>\n  <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarColor01\" aria-controls=\"navbarColor01\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n    <span class=\"navbar-toggler-icon\"></span>\n  </button>\n\n  <div class=\"collapse navbar-collapse\" id=\"navbarColor01\">\n    <ul class=\"navbar-nav mr-auto\">\n      <li class=\"nav-item active\">\n        <a class=\"nav-link\" href=\"#\">Find a Car\n          <span class=\"sr-only\">(current)</span>\n        </a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"#\">How To Buy</a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"#\">Sell Your Car</a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"#\">Finance & Insurance</a>\n      </li>\n         <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"#\">Careers</a>\n      </li>\n      <li class=\"nav-item dropdown\">\n        <a class=\"nav-link dropdown-toggle\" data-toggle=\"dropdown\" href=\"#\" role=\"button\" aria-haspopup=\"true\" aria-expanded=\"false\">How To Buy</a>\n        <div class=\"dropdown-menu\">\n          <a class=\"dropdown-item\" href=\"#\">View our cars</a>\n          <a class=\"dropdown-item\" href=\"#\">Another action</a>\n          <a class=\"dropdown-item\" href=\"#\">Something else here</a>\n          <div class=\"dropdown-divider\"></div>\n          <a class=\"dropdown-item\" href=\"#\">Separated link</a>\n        </div>\n      </li>\n    </ul>\n    <form class=\"form-inline my-2 my-lg-0\">\n      <input class=\"form-control mr-sm-2\" type=\"text\" placeholder=\"Find a Car\">\n      <button class=\"btn btn-secondary my-2 my-sm-0\" type=\"submit\">Search</button>\n    </form>\n  </div>\n</nav>","output":"str","x":790,"y":80,"wires":[["57603d3c.28dfd4"]]},{"id":"57603d3c.28dfd4","type":"template","z":"eae63574.dcb638","name":"head","field":"template.head","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <title>Turner</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css\" integrity=\"sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\" integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n<link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css\">\n<script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js\"></script>","output":"str","x":790,"y":120,"wires":[["e57631fc.051c1"]]},{"id":"4fe349b3.648a38","type":"template","z":"eae63574.dcb638","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    {{{template.head}}}\n</head>\n<body>\n    {{{template.navbar}}}\n    {{{template.body}}}\n    {{{template.chatbot}}}\n</body>\n</html>","output":"str","x":950,"y":80,"wires":[["b797152.3787ee8"]]},{"id":"e57631fc.051c1","type":"template","z":"eae63574.dcb638","name":"body","field":"template.body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n\n<div class=\"jumbotron\">\n{{!--<img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/webassets/globalassets/campaign-banners--artwork/2020/buyersscore_webbanner_revisedf.jpg\" atl=\"\"/>--}}\n{{{template.file}}}\n</div>\n    \n    \n<div class=\"container\">\n\n<div>\n1000's of Quality Cars for Sale\nTurners Cars is the largest used car network in New Zealand with 21 car dealer locations nationwide. With a huge range of well over 3,000 cars for sale (and 1,500 being made ready for sale at any one time) there is truly something for everyone. We’ve been helping Kiwis buy and sell used cars for over 50 years. And if you want car finance or car insurance, we can sort that out for you as well.\n</div>\n\n<div class=\"row\">\n    \n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2013 Mazda Axela</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/mazda-axela-20275166_12373215.jpg\" alt=\"Photo '1' of Mazda Axela\" title=\"Photo '1' of Mazda Axela\"/>\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n        <li>Child Seat Anchor Points</li>\n        <li>Alloy Wheels</li>\n        <li>Steering Wheel Controls</li>\n    </ul>\n    </div>\n</div>\n\n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2015 Nissan Leaf</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/nissan-leaf-19363606_12078444.jpg\" alt=\"Photo '1' of Nissan Leaf\" title=\"Photo '1' of Nissan Leaf\" style=\"\">\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n        <li>Child Seat Anchor Points</li>\n        <li>Alloy Wheels</li>\n        <li>Steering Wheel Controls</li>\n    </ul>\n    </div>\n</div>\n\n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2007 Volkswagen Touareg V10 TDI 4WD</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/mazda-axela-20275166_12373215.jpg\" alt=\"Photo '1' of Mazda Axela\" title=\"Photo '1' of Mazda Axela\"/>\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n        <li>Child Seat Anchor Points</li>\n        <li>Alloy Wheels</li>\n        <li>Steering Wheel Controls</li>\n    </ul>\n    </div>\n</div>\n\n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2015 Mazda Demio</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/mazda-demio-20322509_12262218.jpg\" alt=\"Photo '1' of Mazda Demio\" title=\"Photo '1' of Mazda Demio\" style=\"\">\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n                <li>Reversing Camera</li>\n                <li>Bluetooth</li>\n                <li>USB Port</li>\n                <li>Child Seat Anchor Points</li>\n                <li>Cruise Control</li>\n                <li>Alloy Wheels</li>\n                <li>Steering Wheel Controls</li>\n        </ul>\n    </div>\n</div>\n\n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2015 Nissan Leaf</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/nissan-leaf-19363606_12078444.jpg\" alt=\"Photo '1' of Nissan Leaf\" title=\"Photo '1' of Nissan Leaf\" style=\"\">\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n        <li>Child Seat Anchor Points</li>\n        <li>Alloy Wheels</li>\n        <li>Steering Wheel Controls</li>\n    </ul>\n    </div>\n</div>\n\n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2007 Volkswagen Touareg V10 TDI 4WD</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/mazda-axela-20275166_12373215.jpg\" alt=\"Photo '1' of Mazda Axela\" title=\"Photo '1' of Mazda Axela\"/>\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n        <li>Child Seat Anchor Points</li>\n        <li>Alloy Wheels</li>\n        <li>Steering Wheel Controls</li>\n    </ul>\n    </div>\n</div>\n\n</div>\n\n\n\n</div>\n\n<div class=\"jumbotron\">\n    \n    \n  <h1 class=\"display-3\">Mockup Page for Mission Ready</h1>\n  <p class=\"lead\">Daniel Nguyen</p>\n  <hr class=\"my-4\">\n  <p>Have questions? Let us help.</p>\n  <p class=\"lead\">\n    <a class=\"btn btn-primary btn-lg\" href=\"#\" role=\"button\">Call Us</a>\n  </p>\n</div>\n\n</div>","output":"str","x":790,"y":160,"wires":[["89269a47.de4858"]]},{"id":"89269a47.de4858","type":"template","z":"eae63574.dcb638","name":"chatbot","field":"template.chatbot","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n  window.watsonAssistantChatOptions = {\n      integrationID: \"82137acd-e3db-40c5-9818-183af0673da4\", // The ID of this integration.\n      region: \"au-syd\", // The region your integration is hosted in.\n      serviceInstanceID: \"211ec0b0-432c-49f0-b2a1-f219a352bb14\", // The ID of your service instance.\n      onLoad: function(instance) { instance.render(); }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n</script>","output":"str","x":800,"y":200,"wires":[["4fe349b3.648a38"]]},{"id":"bb8c2971.b5b528","type":"template","z":"eae63574.dcb638","name":"aws-rekognition","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// const AWS = require('aws-sdk')\n\n// const rekognition = new AWS.Rekognition();\n\n//Copyright 2018 Amazon.com, Inc. or its affiliates. All Rights Reserved.\n//PDX-License-Identifier: MIT-0 (For details, see https://github.com/awsdocs/amazon-rekognition-developer-guide/blob/master/LICENSE-SAMPLECODE.)\n\nconsole.log(\"starting\")\n\n// Load the SDK and UUID\nvar AWS = require('aws-sdk');\nvar uuid = require('node-uuid');\n\n\nconst bucket = 'cars-model-missionready' // the bucketname without s3://\nconst photo  = 'hatch-back-view.jpg' // the name of file\n\nconsole.log(\"config\")\n\nconst config = new AWS.Config({\n  accessKeyId: \"AKIAQKPT6UW7TTRSGQWX\",\n  secretAccessKey: \"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\",\n  region: \"ap-southeast-2\",\n}) \n\nAWS.config.update({region:'ap-southeast-2'});\n\nconsole.log(\"client\")\n\nconst client = new AWS.Rekognition();\nconst params = {\n  Image: {\n    S3Object: {\n      Bucket: bucket,\n      Name: photo\n    },\n  },\n  MaxLabels: 20\n}\n\nclient.detectLabels(params, function(err, response) {\n  if (err) {\n    console.log(err, err.stack); // an error occurred\n  } else {\n    console.log(`Detected labels for: ${photo}`)\n    response.Labels.forEach(label => {\n      console.log(`Label:      ${label.Name}`)\n      console.log(`Confidence: ${label.Confidence}`)\n      console.log(\"Instances:\")\n      label.Instances.forEach(instance => {\n        let box = instance.BoundingBox\n        console.log(\"  Bounding box:\")\n        console.log(`    Top:        ${box.Top}`)\n        console.log(`    Left:       ${box.Left}`)\n        console.log(`    Width:      ${box.Width}`)\n        console.log(`    Height:     ${box.Height}`)\n        console.log(`  Confidence: ${instance.Confidence}`)\n      })\n      console.log(\"Parents:\")\n      label.Parents.forEach(parent => {\n        console.log(`  ${parent.Name}`)\n      })\n      console.log(\"------------\")\n      console.log(\"\")\n    }) // for response.labels\n  } // if\n});\n\n\n// aws rekognition detect-labels --image \"S3Object={Bucket=cars-model-missionready,Name=images-2.jpeg}\" --region ap-southest-2\n","output":"str","x":840,"y":800,"wires":[[]]},{"id":"5fa9a4f3.d52e7c","type":"template","z":"eae63574.dcb638","name":"ProcessImage","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"function encodeImageFileAsURL(element) {\n  var file = element.files[0];\n  var reader = new FileReader();\n  reader.onloadend = function() {\n    console.log('RESULT', reader.result)\n  }\n  reader.readAsDataURL(file);\n}","output":"str","x":840,"y":840,"wires":[[]]},{"id":"ab00ddd5.bc02b","type":"http request","z":"eae63574.dcb638","name":"Azure Computer Vision API","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://cars-recognition.cognitiveservices.azure.com/vision/v3.1/analyze?visualFeatures=Tags","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":280,"wires":[["cedf1299.61a57"]]},{"id":"9b1f3a7e.905668","type":"inject","z":"eae63574.dcb638","name":"hatchback image","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"url\":\"https://www.seat.co.nz/content/countries/nz/seat-website/en/seat-cars/hatchback-cars/_jcr_content/article/singleimage/singleimageimage.resizedViewPort.scale.assetRootXL.jpg\"}","payloadType":"json","x":140,"y":380,"wires":[["8a5e699b.7d80e"]]},{"id":"8a5e699b.7d80e","type":"function","z":"eae63574.dcb638","name":"Request Header","func":"msg.headers = {\n    'Content-Type': 'application/json',\n    'Ocp-Apim-Subscription-Key': 'a50b2765499d48a8a67375e0b54a89f7'\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["ab00ddd5.bc02b"]]},{"id":"952251e2.cb6d38","type":"function","z":"eae63574.dcb638","name":"To Base64","func":"msg.name = msg.req.files[0].originalname;\n\nmsg.payload = msg.req.files[0].buffer.toString();\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.image = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.image = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":200,"wires":[[]]},{"id":"f5ac7b44.bee9","type":"template","z":"eae63574.dcb638","name":"Image Recognition","field":"template.file","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<h1 class=\"display-3\">Car Finder</h1>\n\n<h1>Have a picture in mind? Let us help you find it</h1>\n\n<div class=\"row\">\n        <div class=\"form-group m-3 col-2\">\n        <legend>Upload From Computer</legend>\n        <form action=\"/chatbot\" class=\"form-group m-3 col-3\" method=\"POST\" enctype=\"multipart/form-data\">\n            <input type=\"file\" name=\"myFile\" />\n            <input type=\"submit\" value=\"Submit\">\n        </form>\n        </div>\n        <div class=\"form-group m-3 col-3\" >\n        <legend>From Picture URL</legend>\n        <form class=\"input-group mb-3\" method=\"POST\" enctype=\"multipart/form-data\">\n            <input type=\"text\" class=\"form-control w-10\" name=\"myURL\" />\n            <input type=\"submit\" class=\"input-group-text\" value=\"Submit\">\n        </form>\n        </div>\n        <div class=\"form-group m-3 col-3\" >\n          {{{image}}}\n        </div>\n        <div>\n            {{{cartype}}}\n        </div>\n</div>","output":"str","x":590,"y":80,"wires":[["c1d90907.7bbf28"]]},{"id":"45a50a09.d8ef74","type":"http in","z":"eae63574.dcb638","name":"","url":"/chatbot","method":"post","upload":true,"swaggerDoc":"","x":120,"y":200,"wires":[["6ec46982.06918"]]},{"id":"6ec46982.06918","type":"switch","z":"eae63574.dcb638","name":"Check Url","property":"payload.myURL","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"http","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":260,"wires":[["952251e2.cb6d38","911de28a.e3f7a8","68d403f9.6fff54"],["9c604a05.6c52e8"]]},{"id":"9c604a05.6c52e8","type":"function","z":"eae63574.dcb638","name":"To Json","func":"let payload = msg.payload.myURL\nmsg.payload = {\"url\" : payload}\nmsg.image = `<img class=\"embed-responsive\" src=${payload}>`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":280,"wires":[["8a5e699b.7d80e"]]},{"id":"19d78b0c.3ec3bd","type":"comment","z":"eae63574.dcb638","name":"Testing","info":"TESTING","x":90,"y":340,"wires":[]},{"id":"be1e23f3.4dfc8","type":"comment","z":"eae63574.dcb638","name":"Load Data & Image","info":"Load Data back from API","x":570,"y":160,"wires":[]},{"id":"cedf1299.61a57","type":"function","z":"eae63574.dcb638","name":"Process JSON","func":"const payload = msg.payload\nlet i = 0\n\n\nObject.keys(payload.tags).forEach(key => \n{\nif (payload.tags[key].name == 'hatchback' && i ===0) {\n    msg.cartype = ' Your vehicle type is hatchback';\n    i = 1;\n} else if (payload.tags[key].name == 'sedan' && i ===0){\n    msg.cartype = 'Your vehicle type is sedan';\n    i = 1;\n} else if (payload.tags[key].name == 'truck' && i ===0){\n    msg.cartype = 'Your vehicle type is truck';\n    i = 1;\n} else if (payload.tags[key].name == 'suv' && i ===0){\n    msg.cartype = 'Your vehicle type is suv';\n    i = 1;    \n}\n}\n)\n\n// for (let i =0; i <= payload.tags.length; i++) {\n//     if (payload.tags[i].name == 'hatchback') {\n//     msg.cartype = ' Your car type is hatchback';\n// } else if (payload.tags[i].name == 'sedan'){\n//     msg.cartype = 'Your car type is sedan';\n// }\n// }\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["f5ac7b44.bee9","736e15ed.6780ec"]]},{"id":"8797cf2.a9d193","type":"comment","z":"eae63574.dcb638","name":"Photo/URL Handler","info":"","x":130,"y":160,"wires":[]},{"id":"a299c081.5a4d7","type":"comment","z":"eae63574.dcb638","name":"Main Page","info":"","x":300,"y":40,"wires":[]},{"id":"911de28a.e3f7a8","type":"function","z":"eae63574.dcb638","name":"To Binary","func":"msg.payload = msg.req.files[0]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[[]]},{"id":"68d403f9.6fff54","type":"file in","z":"eae63574.dcb638","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"binary","x":410,"y":400,"wires":[[]]},{"id":"37721c84.a8f98c","type":"inject","z":"eae63574.dcb638","name":"truck image","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"url\":\"https://www.drivingtests.co.nz/resources/wp-content/uploads/2019/10/class-1-tipper-truck-600x348.jpg\"}","payloadType":"json","x":130,"y":420,"wires":[["8a5e699b.7d80e"]]},{"id":"c8381b75.328de8","type":"inject","z":"eae63574.dcb638","name":"sedan image","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"url\":\"https://www.extremetech.com/wp-content/uploads/2019/12/20_AvalonTRD_CelestialSilverMetallic_001-1500x1001-640x360.jpg\"}","payloadType":"json","x":130,"y":460,"wires":[["8a5e699b.7d80e"]]},{"id":"736e15ed.6780ec","type":"debug","z":"eae63574.dcb638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"cartype","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":240,"wires":[]}]